In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd '/content/drive/Shareddrives/Soybean hydroponics/datasets'

/content/drive/Shareddrives/Soybean hydroponics/datasets

In [ ]:
!pip install sqlalchemy==1.4.16

In [ ]:
# SQLAlCHEMY ORM QUERY TO FETCH ALL RECORDS
df = pandas.read_sql_query(
    sql = db.select([Students.first_name,
                     Students.last_name,
                     Students.course,
                     Students.score]),
    con = engine
)

In [ ]:
waterdata = pd.read_excel('Copy of water uptake dataset Mary.xlsx')

In [ ]:
waterdf = pd.DataFrame(waterdata)
waterdf.head(14)

,Date,H+C,H+PAW,H+K (100 ppm),H+K (200 ppm),H+K (300 ppm),H+Mg (30 ppm),H+Mg (50 ppm),H+Mg (70 ppm),H+N (100 ppm),H+N (175 ppm),H+N (250 ppm)
0,2022-05-06,10.43,11.86,7.35,8.71,12.00,10.14,9.57,9.64,7.58,9.21,10.08
1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-05-09,17.36,13.78,9.64,14.21,16.00,12.28,11.92,11.57,8.00,11.28,11.25
3,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-05-11,21.50,17.79,27.19,16.71,14.93,15.22,33.14,21.22,24.40,24.72,24.33
5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-05-14,28.64,35.16,28.91,32.21,21.70,31.30,34.14,34.85,32.40,28.28,37.50
7,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022-05-16,16.00,13.14,23.20,18.42,19.71,18.00,16.57,18.00,13.75,18.00,13.16
9,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2022-05-18,22.28,14.28,17.83,18.78,19.71,19.00,22.28,18.28,16.67,13.42,14.20
11,2022-05-19,7.40,6.11,7.63,6.28,8.31,8.52,8.43,7.45,7.60,6.48,6.10

In [ ]:
waterdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7 non-null      datetime64[ns]
 1   H+C            7 non-null      float64
 2   H+PAW          7 non-null      float64
 3   H+K (100 ppm)  7 non-null      float64
 4   H+K (200 ppm)  7 non-null      float64
 5   H+K (300 ppm)  7 non-null      float64
 6   H+Mg (30 ppm)  7 non-null      float64
 7   H+Mg (50 ppm)  7 non-null      float64
 8   H+Mg (70 ppm)  7 non-null      float64
 9   H+N (100 ppm)  7 non-null      float64
 10  H+N (175 ppm)  7 non-null      float64
 11  H+N (250 ppm)  7 non-null      float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 1.2 KB

# Linear Interpolation of Water Uptake

In [ ]:
from datetime import datetime
nanval = np.nan
#date3 = '05-10-2022'
#date3 = datetime.strptime(date3, '%m-%d-%Y').date
#date7 = '05-15-2022'
#date7 = datetime.strptime(date7, '%m-%d-%Y').date
#date9 = '05-17-2022'
#date9 = datetime.strptime(date9, '%m-%d-%Y').date
#print(date9)
waterdf.loc[1] = ['Date', nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval]
waterdf.loc[3] = ['Date', nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval]
waterdf.loc[5] = ['Date', nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval]
waterdf.loc[7] = ['Date', nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval]
waterdf.loc[9] = ['Date', nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval, nanval]

In [ ]:
for column in waterdf:
  waterdf[column] = waterdf[column].interpolate(method='linear')

waterdf.head()

,Date,H+C,H+PAW,H+K (100 ppm),H+K (200 ppm),H+K (300 ppm),H+Mg (30 ppm),H+Mg (50 ppm),H+Mg (70 ppm),H+N (100 ppm),H+N (175 ppm),H+N (250 ppm)
0,2022-05-06 00:00:00,10.430,11.860,7.350,8.71,12.000,10.14,9.570,9.640,7.58,9.210,10.080
1,Date,13.895,12.820,8.495,11.46,14.000,11.21,10.745,10.605,7.79,10.245,10.665
2,2022-05-09 00:00:00,17.360,13.780,9.640,14.21,16.000,12.28,11.920,11.570,8.00,11.280,11.250
3,Date,19.430,15.785,18.415,15.46,15.465,13.75,22.530,16.395,16.20,18.000,17.790
4,2022-05-11 00:00:00,21.500,17.790,27.190,16.71,14.930,15.22,33.140,21.220,24.40,24.720,24.330

Export to CSV for use on UI

In [ ]:
%cd '/content/drive/Shareddrives/Capstone Project'

waterdf.to_csv('Interpolated_Water_Uptake.csv')

/content/drive/Shareddrives/Capstone Project

# Get water uptake totals for each nutrient solution

In [ ]:
waterdf.drop(columns = ['Date'], inplace=True)
waterdf.head(12)

,H+C,H+PAW,H+K (100 ppm),H+K (200 ppm),H+K (300 ppm),H+Mg (30 ppm),H+Mg (50 ppm),H+Mg (70 ppm),H+N (100 ppm),H+N (175 ppm),H+N (250 ppm)
0,10.430,11.860,7.350,8.710,12.000,10.14,9.570,9.640,7.580,9.210,10.080
1,13.895,12.820,8.495,11.460,14.000,11.21,10.745,10.605,7.790,10.245,10.665
2,17.360,13.780,9.640,14.210,16.000,12.28,11.920,11.570,8.000,11.280,11.250
3,19.430,15.785,18.415,15.460,15.465,13.75,22.530,16.395,16.200,18.000,17.790
4,21.500,17.790,27.190,16.710,14.930,15.22,33.140,21.220,24.400,24.720,24.330
5,25.070,26.475,28.050,24.460,18.315,23.26,33.640,28.035,28.400,26.500,30.915
6,28.640,35.160,28.910,32.210,21.700,31.30,34.140,34.850,32.400,28.280,37.500
7,22.320,24.150,26.055,25.315,20.705,24.65,25.355,26.425,23.075,23.140,25.330
8,16.000,13.140,23.200,18.420,19.710,18.00,16.570,18.000,13.750,18.000,13.160
9,19.140,13.710,20.515,18.600,19.710,18.50,19.425,18.140,15.210,15.710,13.680
10,22.280,14.280,17.830,18.780,19.710,19.00,22.280,18.280,16.670,13.420,14.200
11,7.400,6.110,7.630,6.280,8.310,8.52,8.430,7.450,7.600,6.480,6.100

In [ ]:
waterdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   H+C            12 non-null     float64
 1   H+PAW          12 non-null     float64
 2   H+K (100 ppm)  12 non-null     float64
 3   H+K (200 ppm)  12 non-null     float64
 4   H+K (300 ppm)  12 non-null     float64
 5   H+Mg (30 ppm)  12 non-null     float64
 6   H+Mg (50 ppm)  12 non-null     float64
 7   H+Mg (70 ppm)  12 non-null     float64
 8   H+N (100 ppm)  12 non-null     float64
 9   H+N (175 ppm)  12 non-null     float64
 10  H+N (250 ppm)  12 non-null     float64
dtypes: float64(11)
memory usage: 1.2 KB

In [ ]:
total_uptakes = {'H+C': 0, 'H+PAW': 0, 'H+K (100 ppm)': 0, 'H+K (200 ppm)': 0, 'H+K (300 ppm)': 0, 'H+Mg (30 ppm)': 0, 'H+Mg (50 ppm)': 0, 'H+Mg (70 ppm)': 0,
                 'H+N (100 ppm)': 0, 'H+N (175 ppm)': 0, 'H+N (250 ppm)': 0}
sum = 0
for column in waterdf:
  for row in range(11):
    wateruptake = waterdf[column][row]
    sum = sum + wateruptake
  total_uptakes[column] = sum
  sum = 0

print(total_uptakes)

{'H+C': 216.06499999999997, 'H+PAW': 198.95, 'H+K (100 ppm)': 215.64999999999998, 'H+K (200 ppm)': 204.33500000000004, 'H+K (300 ppm)': 192.24500000000003, 'H+Mg (30 ppm)': 197.31, 'H+Mg (50 ppm)': 239.315, 'H+Mg (70 ppm)': 213.16, 'H+N (100 ppm)': 193.47500000000002, 'H+N (175 ppm)': 198.505, 'H+N (250 ppm)': 208.9}

In [ ]:
comparator = -1
highest_uptake_solution = ''
for key in total_uptakes:
  if total_uptakes[key] > comparator:
    comparator = total_uptakes[key]
    highest_uptake_solution = key

In [ ]:
print(highest_uptake_solution)

H+Mg (50 ppm)

verified to be correct ✔